In [0]:
import pandas as pd
from google.colab import files
import json
from collections import OrderedDict

In [0]:
uploaded = files.upload()

Saving sankey_PtoM_cleaned.csv to sankey_PtoM_cleaned (2).csv

In [0]:
df = pd.read_csv("sankey2_cleaned.csv")
df.head(3)

  Physical Disease         Mental Disorder  Hazard Ratio
0        Arthritis  Any affective disorder           NaN
1        Arthritis    Any anxiety disorder           NaN
2        Arthritis   Any behavior disorder           NaN

Remove missing values

In [0]:
# fill in 0 where there are NaNs
df.fillna(0, inplace = True)

In [0]:
# delete nans
df = df.drop(df[df["Hazard Ratio"]==0.00].index)

Creating nodes values df and list

In [0]:
# nodes
df1 = pd.DataFrame()
df1["node"] = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
#df["source"].replace(to_replace =["Any affective disorder","Any anxiety disorder", "Any behavior disorder", "Any substance use disorder", "Any eating disorder","Any mental disorder"],value =[1,2,3,4,5,6] )    
df1["name"] = ["Any physical disease","Epilepsy/seizures","Disease of digestive system", "Diabetes/high blood sugar","Asthma","Heart disease","Skin disease","Seasonal allergy","Arthritis","Any mental disorder","Any eating disorder","Any substance use disorder","Any behavior disorder","Any anxiety disorder","Any affective disorder"]
df1

    node                         name
0      0         Any physical disease
1      1            Epilepsy/seizures
2      2  Disease of digestive system
3      3    Diabetes/high blood sugar
4      4                       Asthma
5      5                Heart disease
6      6                 Skin disease
7      7             Seasonal allergy
8      8                    Arthritis
9      9          Any mental disorder
10    10          Any eating disorder
11    11   Any substance use disorder
12    12        Any behavior disorder
13    13         Any anxiety disorder
14    14       Any affective disorder

In [0]:
df1["node"] = df1.node.astype(int)

In [0]:
# create nodes values list of dictionaries
nodes_list = [node for node in df1.T.to_dict().values()]
nodes_list

[{'name': 'Any physical disease', 'node': 0},
 {'name': 'Epilepsy/seizures', 'node': 1},
 {'name': 'Disease of digestive system', 'node': 2},
 {'name': 'Diabetes/high blood sugar', 'node': 3},
 {'name': 'Asthma', 'node': 4},
 {'name': 'Heart disease', 'node': 5},
 {'name': 'Skin disease', 'node': 6},
 {'name': 'Seasonal allergy', 'node': 7},
 {'name': 'Arthritis', 'node': 8},
 {'name': 'Any mental disorder', 'node': 9},
 {'name': 'Any eating disorder', 'node': 10},
 {'name': 'Any substance use disorder', 'node': 11},
 {'name': 'Any behavior disorder', 'node': 12},
 {'name': 'Any anxiety disorder', 'node': 13},
 {'name': 'Any affective disorder', 'node': 14}]

Creating links values df and list

In [0]:
# adding columns
df["source"] = df ["Mental Disorder"]
df["target"] = df ["Physical Disease"]

In [0]:
# links replacing string values with integers
df2 = pd.DataFrame()
df2["source"] = df["source"].replace(to_replace =["Any mental disorder","Any eating disorder","Any substance use disorder","Any behavior disorder","Any anxiety disorder","Any affective disorder"],value =[9,10,11,12,13,14] )    
df2["target"] = df["target"].replace(to_replace =["Any physical disease","Epilepsy/seizures","Disease of digestive system", "Diabetes/high blood sugar","Asthma","Heart disease","Skin disease","Seasonal allergy","Arthritis"], value =[0,1,2,3,4,5,6,7,8])
df2["value"]= df["Hazard Ratio"]

df2.head(5)

   source  target  value
3      11       8   0.39
6      14       7   1.08
7      13       7   0.84
8      12       7   0.90
9      11       7   0.88

In [0]:
df2["target"] = df2.target.values[::-1] 
df2

In [0]:
links_list = [{k:(int(v) if (k is not "value") else v) for k, v in link.items()} for link in df2.T.to_dict().values()]
links_list

[{'source': 11, 'target': 0, 'value': 0.39},
 {'source': 14, 'target': 0, 'value': 1.08},
 {'source': 13, 'target': 0, 'value': 0.84},
 {'source': 12, 'target': 0, 'value': 0.9},
 {'source': 11, 'target': 1, 'value': 0.88},
 {'source': 10, 'target': 1, 'value': 1.39},
 {'source': 14, 'target': 1, 'value': 0.81},
 {'source': 12, 'target': 1, 'value': 0.83},
 {'source': 11, 'target': 1, 'value': 0.81},
 {'source': 13, 'target': 2, 'value': 1.92},
 {'source': 10, 'target': 3, 'value': 2.7},
 {'source': 9, 'target': 3, 'value': 1.39},
 {'source': 14, 'target': 4, 'value': 1.11},
 {'source': 13, 'target': 4, 'value': 1.13},
 {'source': 12, 'target': 4, 'value': 1.13},
 {'source': 9, 'target': 4, 'value': 1.21},
 {'source': 14, 'target': 5, 'value': 0.43},
 {'source': 10, 'target': 5, 'value': 0.44},
 {'source': 13, 'target': 5, 'value': 1.47},
 {'source': 14, 'target': 6, 'value': 2.46},
 {'source': 13, 'target': 6, 'value': 1.4},
 {'source': 11, 'target': 6, 'value': 0.53},
 {'source': 10, 'target': 7, 'value': 5.55},
 {'source': 9, 'target': 7, 'value': 1.27},
 {'source': 13, 'target': 7, 'value': 1.05},
 {'source': 11, 'target': 7, 'value': 0.88},
 {'source': 10, 'target': 7, 'value': 1.44},
 {'source': 9, 'target': 8, 'value': 1.1}]

In [0]:
lists = []

for link in df2.T.to_dict().values():
    for key in link:
        link[key] = int(link[key])
    lists.append(link)
lists

Creating Dictionairy and saving as json

In [0]:
outer_dic = OrderedDict([("nodes",nodes_list),("links", links_list)])
outer_dic

OrderedDict([('nodes',
              [{'name': 'Any physical disease', 'node': 0},
               {'name': 'Epilepsy/seizures', 'node': 1},
               {'name': 'Disease of digestive system', 'node': 2},
               {'name': 'Diabetes/high blood sugar', 'node': 3},
               {'name': 'Asthma', 'node': 4},
               {'name': 'Heart disease', 'node': 5},
               {'name': 'Skin disease', 'node': 6},
               {'name': 'Seasonal allergy', 'node': 7},
               {'name': 'Arthritis', 'node': 8},
               {'name': 'Any mental disorder', 'node': 9},
               {'name': 'Any eating disorder', 'node': 10},
               {'name': 'Any substance use disorder', 'node': 11},
               {'name': 'Any behavior disorder', 'node': 12},
               {'name': 'Any anxiety disorder', 'node': 13},
               {'name': 'Any affective disorder', 'node': 14}]),
             ('links',
              [{'source': 11, 'target': 0, 'value': 0.39},
               {'source': 14, 'target': 0, 'value': 1.08},
               {'source': 13, 'target': 0, 'value': 0.84},
               {'source': 12, 'target': 0, 'value': 0.9},
               {'source': 11, 'target': 1, 'value': 0.88},
               {'source': 10, 'target': 1, 'value': 1.39},
               {'source': 14, 'target': 1, 'value': 0.81},
               {'source': 12, 'target': 1, 'value': 0.83},
               {'source': 11, 'target': 1, 'value': 0.81},
               {'source': 13, 'target': 2, 'value': 1.92},
               {'source': 10, 'target': 3, 'value': 2.7},
               {'source': 9, 'target': 3, 'value': 1.39},
               {'source': 14, 'target': 4, 'value': 1.11},
               {'source': 13, 'target': 4, 'value': 1.13},
               {'source': 12, 'target': 4, 'value': 1.13},
               {'source': 9, 'target': 4, 'value': 1.21},
               {'source': 14, 'target': 5, 'value': 0.43},
               {'source': 10, 'target': 5, 'value': 0.44},
               {'source': 13, 'target': 5, 'value': 1.47},
               {'source': 14, 'target': 6, 'value': 2.46},
               {'source': 13, 'target': 6, 'value': 1.4},
               {'source': 11, 'target': 6, 'value': 0.53},
               {'source': 10, 'target': 7, 'value': 5.55},
               {'source': 9, 'target': 7, 'value': 1.27},
               {'source': 13, 'target': 7, 'value': 1.05},
               {'source': 11, 'target': 7, 'value': 0.88},
               {'source': 10, 'target': 7, 'value': 1.44},
               {'source': 9, 'target': 8, 'value': 1.1}])])

In [0]:
with open('PD_MH.json', 'w') as json_file:
  json.dump(outer_dic, json_file)

Download

In [0]:
files.download("PD_MH.json")